
# ------Server Configuration------
# Port to run the server on (optional, defaults to 3000)
PORT=3000

# -------Database Configuration-------
# Database URL for PostgreSQL
DATABASE_URL=postgres://postgres:changeme@db:5432/trackers
POSTGRES_PASSWORD=changeme
POSTGRES_USER=postgres
POSTGRES_DB=trackers