
# ------Server Configuration------
# Port to run the server on
PORT={port}

# -------Database Configuration-------
# Path to the database file
DB_PATH={db_path}
# Database URL for PostgreSQL
DATABASE_URL={database_url}